# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Python specific
.pytest_cache/
.mypy_cache/
.ruff_cache/
